<section class="jumbotron container-fluid header-background rounded-0">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center" id="headTitle">
      <!-- Only shows this title when screen size bigger than 992px -->
      <div class="j1 title1">DiDi delivery in Auckland </div><br>
      <div class="l1 title1">provide express and warm service for you.</div>

      <!-- <button id="touchBtn" routerLink="/contact" class="btn btn-lg rounded-0 underline">GET IN TOUCH</button> -->
    </div>
  </div>
</section>



<section class="container" id="section3">
  <h1 class="pt-4 pb-2" id="workTitle">Our Work</h1>
  <div class="row" style="margin-bottom: 25px;">
    <div class="col-12 col-md-6 col-lg-6 pl-0 pr-0 pb-0 border">
      <a href="#" class="caseLink">
        <div class="casePicture casePicture1 pointer"></div>
        <div class="caseDetail1 set-height relative">
          <div class="flex absolute">
            <div class="caseTitle1">
              <span class="l2">....</span><br>
              <span class="m1bold">...</span>
            </div>  
          </div>
          <div class="caseText1 flex absolute">
            <div class="text1 m2">..</div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-12 col-md-6 col-lg-6 pl-0 pr-0 pd-0 border">
      <a href="#" class="caseLink">
        <div class="casePicture casePicture2 pointer"></div>
        <div class="caseDetail2 set-height relative">
          <div class="flex absolute">
              <div class="caseTitle2">
                  <span class="l2">....</span><br>
                  <span class="m1bold">...</span>
                </div>
          </div>
          <div class="caseText2 flex absolute">
            <div class="text2 m2"><span style="color:red;font-weight:bold;">... </span></div>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
