<h3>Driver's information</h3>
<div class="container" style="margin:10px;widows: 50%;">
    <div class="card-body ml-5 border" >
        <h5 class="card-title" style="font-weight:bold"><span>Driver's name: </span>{{driverInfor.name}}</h5>
        <p class="card-text"><span>Driver's email:</span> {{driverInfor.email}}</p>
        <p class="card-text"><span>Driver's phone:</span> {{driverInfor.phone}}</p>
        <p class="card-text"><span>Driver's car model:</span> {{driverInfor.carModel}}</p>
        <p class="card-text"><span>Year of the car:</span> {{driverInfor.carYear}}</p>
        <p class="card-text"><span>Colour of the car:</span> {{driverInfor.carColour}}</p>
        <p class="card-text"><span>License number:</span> {{driverInfor.carLicensePlate}}</p>

</div>